body{
  display:grid;
  place-content: center;
  /* margin : 0px 250px 250px; */
}
.poster{
  height:250px;
  object-fit: cover;
  width : 200px;
}
.App{
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  /* gap: 20px; */
}
.movie-form{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}