body {
  display: grid;
  place-content: center;
}
.addMovieButton{
  margin:0px 10px
}
.poster{
  height:250px;
  object-fit: contain;
  width : 200px;
}
.App{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}